<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="/YoLo.png">


    <title>Welcome Degenerates</title>
</head>
<body style="background-color: #457240; background-image: url('/YoLo.png'); background-repeat: repeat; background-size: cover; margin: 0; padding: 0">
    
    <h1 style= 'color: blanchedalmond; text-align: center; font-size: xx-large; font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;'>Welcome to the YoLo Town!</h1>
        <nav>
        <a style='text-align: center; display: block; font-size: X-large; color: gold;' href="/user/signup">Join the Degenerates</a> 
        </nav>


            <nav>
                <a style='text-align: center; display: block; font-size: large; color: gold;' href="/user/login">Degen Portal</a>
            </nav>
            <h2 style= 'color: antiquewhite; text-align: center;'>These are the YoLo attempts past and present....RIP</h2>


</body>

<div style="position: fixed; bottom: 0; width: 100%; text-align: center; font-size: smaller; color: aliceblue; background-color: rgba(0, 0, 0, 0.7); padding: 10px;">
    <p>Disclaimer: The WSRY Wheel is for entertainment purposes only. Investments carry risk, and past performance does not guarantee future results. Always play responsibly.</p>
</div>


</html>