<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YoLo Time</title>
    <link rel="icon" type="image/x-icon" href="/YoLo.png">
    <%- include("./partials/files.ejs") %>
</head>
<body>
    <h1>Welcome to the Yolo Application</h1>



    <nav>
        <a href="/addie">YoLo Addie Time!</a>
    </nav>
<h3>These are your YoLo attempts... so far!</h3>
    
<ul>
    <% yolos.forEach(yolo => { %>
            <li>
                <a href="yolo/<%=yolo._id %>" >
                    <%=yolo.ticker %>
                </a>
            </li>
        <% }) %>
    </ul>

 
    </body>
    </html>