<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-In to the YoLo App</title>
    <link rel="icon" type="image/x-icon" href="/YoLo.png">
    <%- include("../partials/files.ejs") %>
</head>
<body style=" background-image: url('/vault.jpeg'); background-size: cover; background-repeat: repeat;">
    <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-decoration: underline; color: antiquewhite;" > 
            Log-In you Degenerate!</h1>

            <form style="color: antiquewhite; font-size: larger;" action="/user/login" method="POST">


                <legend style="text-align: justify; margin-left: 55px; text-decoration: wavy; font-size: x-large;">
                    Time to $hine</legend>
<br>
            <label>UserID: <input type="text" name="username" required /></label>
            <br><br>
            <label>Password: <input type="password" name="password" required /></label>
            <br>
            <input style="background-color: gold; margin: 30px" type="submit" value="LFG" />


    </form>



    </body>
    </html>
